<section class="dashboard-main">

<!-- Dashboard left panel -->

	<div class="dashboard-sub-left">
		<div class="dashboard-title">
			<a href="<%=user_path(current_user)%>"><h2><i class="fas fa-tachometer-alt"></i>&nbspDashboard</h2></a>
		</div>
		<div class="dashboard-sub-left-menu-container">
			<h3><i class="fas fa-edit"></i>&nbspManage</h3>
			<div class="dashboard-sub-left-menu">
				<div>
					<a href=<%= user_brands_path(current_user)%>>
						<h4><i class="fas fa-caret-right"></i>&nbspBrand</h4>
					</a>
					
				</div>
				<div>
					<a href="<%= user_archived_list_path(current_user)%>">
						<h4><i class="fas fa-caret-right"></i>&nbspArchives</h4>
					</a>
				</div>
			</div>
		</div>
		<div class="dashboard-sub-left-menu-container">
			<h3><i class="fas fa-user-circle"></i>&nbspAccount</h3>
			<div class="dashboard-sub-left-menu">
				<div>
					<a href=<%=edit_user_registration_path %>>
						<h4><i class="fas fa-caret-right"></i>&nbspManage Password</h4>
					</a>
				</div>
				<div>
					<a href="#">
						<h4><i class="fas fa-caret-right"></i>&nbspSubscription</h4>
					</a>
				</div>
			</div>

		</div>
		<div class="dashboard-sub-left-menu-container dashboard-question">
			<a href="#">
				<h3><i class="fas fa-question-circle"></i>&nbspSupport</h3>
			</a>
		</div>
	</div>


<!-- Dash bord right panel -->

	<div class="dashboard-sub-right">
		<!-- Listing of all the CTA owned by this user  -->
		<section class="cta-section">
			
			<!-- title and create button -->
			<div class="dashboard-cta-title">
				<div id="dashboard-cta-title-text">
					<h3>Archived Call To Actions</h3>
				</div>
			</div>

			<!-- headings of the list  -->

			<div class="dashboard-cta-headers row">
				<div class="col-lg-1 col-md-1 col-sm-1">
				</div>	
				<div class="col-lg-2 col-md-2 col-sm-2">
					<p>Brand</p>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<p>CTA Message</p>
				</div>	
				<div class="col-lg-1 col-md-1 col-sm-1">
					<p>Clips</p>
				</div>	
				<div class="col-lg-1 col-md-1 col-sm-1">
					<p>Clicks</p>
				</div>	
				<div class="col-lg-2 col-md-2 col-sm-2">
				</div>	
			</div>
			<!-- Listing of all call to actions created -->
			<% if @cta_list.present? %>
				<% @count = 0 %>
				<% @count_mobile = 0 %>
				<% @cta_list.each do |x| %> 
					<div class="dashboard-cta-list row">
						<div class="col-lg-1 col-md-1 col-sm-1" id="dashboard-cta-list-num">
							<p><%= @count += 1 %></p>
						</div>	
						<div class="col-lg-2 col-md-2 col-sm-2">
							<p><%= x.brand.name %></p>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5">
							<p><%= x.description.truncate(40) %></p>
						</div>	
						<div class="col-lg-1 col-md-1 col-sm-1">
							<p><%= x.clips.count %></p>
						</div>	
						<div class="col-lg-1 col-md-1 col-sm-1">
							<p><%= x.cta_counts.count %></p>
						</div>	
					</div>

				<!-- end of desktop version --> 

					<!-- mobile version --> 
					<div class="dashboard-cta-list-mobile">
						<div id="dashboard-cta-list-num">
							<p><%= @count_mobile += 1 %></p>
						</div>	
						<div>
							<p>Brand: <%= x.brand.name %></p>
						</div>
						<div>
							<p>Message: <%= x.description.truncate(30) %></p>
						</div>	
						<div>
							<p>Clips: <%= x.clips.count %></p>
						</div>	
						<div>
							<p>Clicks: <%= x.cta_counts.count %></p>
						</div>	
					</div>

					<!-- end of mobile version -->
				<% end %>
			<% else %>
				<h6 class="no-item-message">Nope, you have not archived any CTA so far.</h6>
			<% end %>
		</section>

		<!-- end of CTA list -->


		<!-- Listing of all the Clips owned by this user  -->
		<section class="clip-section">
			
			<!-- title and create button -->
			<div class="dashboard-clip-title">
				<div  class="col-lg-3" id="dashboard-clip-title-text">
					<h3>Archived Clips</h3>
				</div>
				
				<div class="col-lg-9" id="dashboard-clip-title-form">
				</div>
			</div>

			<!-- headings of the Clip list  -->

			<div class="dashboard-cta-headers row">
				<div class="col-lg-1 col-md-1 col-sm-1">
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-4">
					<p>CTA Message</p>
				</div>	
				<div class="col-lg-3 col-md-3 col-sm-3">
					<p>Page Link</p>
				</div>	
				<div class="col-lg-1 col-md-1 col-sm-1">
					<p>Visits</p>
				</div>	
				<div class="col-lg-1 col-md-1 col-sm-1">
					<p>Clicks</p>
				</div>	
				<div class="col-lg-1 col-md-1 col-sm-1">
					<p>Conversion</p>
				</div>	
				<div class="col-lg-1 col-md-1 col-sm-1">
				</div>	
			</div>
			<!-- Listing of all Clips created -->
			<% @count = 0 %>
			<% @count_mobile = 0 %>
			<% if @clip_list.present? %>
				<% @clip_list.each do |x| %>
				<div class="dashboard-clip-list-desktop">
					<div class="dashboard-clip-list row">
						<div class="col-lg-1 col-md-1 col-sm-1" id="dashboard-clip-list-num">
							<p><%= @count += 1 %></p>
						</div>		
						<div class="col-lg-4 col-md-4 col-sm-4 archived-cta-message-container">
							<p class="archived-cta-message">
								<%= x.call_to_action.description.truncate(30) %>
							</p>
							<p class="pop-up-cta-message">
								<%= x.call_to_action.description %>
							</p>							
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 archived-page-link-container">
							<p class="archived-page-link">
								<%= x.page_link.truncate(25) %>
							</p>
							<p class="pop-up-page-link">
								<%= x.page_link %>
							</p>	
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1">
							<p><%= x.count %></p>
						</div>	
						<div class="col-lg-1 col-md-1 col-sm-1">
							<p><%= x.cta_counts.where(call_to_action_id: x.call_to_action.id).count %></p></p>
						</div>	
						<div class="col-lg-1 col-md-1 col-sm-1">
							<p>
							<% if x.call_to_action != 0 && x.count != 0%>
								<%= ((x.cta_counts.where(call_to_action_id: x.call_to_action.id).count.to_f / x.count.to_f)*100).round(2).to_s + "%" %>
							<% else %>
								<%= "N/A" %>
							<% end %> 
							</p>
						</div>	
						<div class="col-lg-1 col-md-1 col-sm-1" id="dashboard-clip-list-buttons">
							<%= link_to "View Page",user_clip_path(user_id: current_user.id, id: x.id),target:"_blank" %>
						</div>	
					</div>
					<div id="hover-display" class="dashboard-clip-list row">
						<div id="clip-sub-list-first" class="col-lg-1 col-md-1 col-sm-1">
						</div>
						<div id="clip-sub-list-second-a" class="col-lg-2">
							<p>
								Call To Action
							</p>
						</div>
						<div id="clip-sub-list-second-b" class="col-lg-9">
							<p>
								<%= x.call_to_action.description %>
							</p>
						</div>
					</div>
					<div id="hover-display" class="dashboard-clip-list row">
						<div id="clip-sub-list-first" class="col-lg-1">
						</div>
						<div id="clip-sub-list-second-a" class="col-lg-2">
							<p>
								Link to Page
							</p>
						</div>
						<div id="clip-sub-list-second-b" class="col-lg-9">
							<p>
								<%= x.page_link %>
							</p>
						</div>
					</div>
					</div>
				<!-- Mobile Version -->

					<div class="dashboard-clip-list-mobile">
						<div class="dashboard-clip-list-mobile-mobile">
							<div class="col-lg-1" id="dashboard-clip-list-num">
								<p><%= @count_mobile += 1 %></p>
							</div>		
							<div>
								<p>
									<%= x.call_to_action.description %>
								</p>
							</div>
							<div>
								<p>
									<%= x.page_link %>
								</p>
							</div>
							<div>
								<p>Visits: <%= x.count %></p>
							</div>	
							<div>
								<p>Clicks: <%= x.cta_counts.where(call_to_action_id: x.call_to_action.id).count %></p>
							</div>	
							<div>
								<p>Conversion:
								<% if x.call_to_action != 0 && x.count != 0%>
									<%=((x.cta_counts.where(call_to_action_id: x.call_to_action.id).count.to_f / x.count.to_f)*100).round(2).to_s + "%" %>
								<% else %>
									<%= "N/A" %>
								<% end %> 
								</p>
							</div>	
					</div>
				
				<!-- end of mobile version -->

				<% end %>
			<% else %>
				<h6 class="no-item-message">Hmmm... seems like you have not arhived any clips yet.</h6>

			<% end %>
		</section>

		<!-- end of Clip list -->

	</div>
</section>