<section class="dashboard-main">

<!-- Dashboard left panel -->

	<div class="dashboard-sub-left container">
		<a href="<%=user_path(current_user)%>"><h2><i class="fas fa-tachometer-alt"></i>&nbspDashboard</h2></a>
		<div>
			<h3><i class="fas fa-edit"></i>&nbspManage</h3>
			<div class="dashboard-sub-left-menu">
				<div>
					<a href="#">
						<h4><i class="fas fa-caret-right"></i>&nbspBrand</h4>
					</a>
					
				</div>
				<div>
					<a href="<%= user_archived_list_path(current_user)%>">
						<h4><i class="fas fa-caret-right"></i>&nbspArchives</h4>
					</a>
				</div>
			</div>
		</div>
		<div>
			<h3><i class="fas fa-user-circle"></i>&nbspAccount</h3>
			<div class="dashboard-sub-left-menu">
				<div>
					<a href="#">
						<h4><i class="fas fa-caret-right"></i>&nbspProfile</h4>
					</a>
				</div>
				<div>
					<a href="#">
						<h4><i class="fas fa-caret-right"></i>&nbspSubscription</h4>
					</a>
				</div>
			</div>

		</div>
		<div>
			<a href="#">
				<h3><i class="fas fa-info-circle"></i>&nbspSupport</h3>
			</a>
		</div>
	</div>

<!-- Dash bord right panel -->

	<div class="dashboard-sub-right">
		<div class="dashboard-main-statistics">
			<div>
				<div>
					<p><strong>Total CTA Created</strong></p>
				</div>		
				<div>
					<p id="statistic-font"><strong><%= CallToAction.all.count%></strong></p>
				</div>			
			</div>
			<div>
				<div>
					<p><strong>Total Clip Created</strong></p>
				</div>		
				<div>
					<p id="statistic-font"><strong><%= Clip.all.count %></strong></p>
				</div>	
			</div>
			<div>
				<div>
					<p><strong>Total Total CTA Clicks</strong></p>
				</div>		
				<div>
					<p id="statistic-font"><strong><%= CallToAction.total_count %></strong></p>
				</div>	
			</div>
			<div>
				<div>
					<p><strong>Total Clips Visits</strong></p>
				</div>		
				<div>
					<p id="statistic-font"><strong><%= Clip.total_count %></strong></p>
				</div>	
			</div>
			<div>
				<div>
					<p><strong>Overall Conversion</strong></p>
				</div>		
				<div>
					<p id="statistic-font"><strong><%=((CallToAction.total_count.to_f/Clip.total_count.to_f)*100).round(2).to_s + '%'%></strong></p>
				</div>	
			</div>
		</div>

		<!-- Listing of all the CTA owned by this user  -->
		<section class="cta-section">
			
			<!-- title and create button -->
			<div class="dashboard-cta-title">
				<div id="dashboard-cta-title-text" style="width:80%">
					<h3>Active Call To Actions</h3>
				</div>
				<div id="dashboard-cta-title-btn" style="width:20%;">
					<a href="<%=new_user_call_to_action_path(current_user)%>">
						<button class="btn btn-primary">Create CTA</button>
					</a>
				</div>
			</div>

			<!-- headings of the list  -->

			<div class="dashboard-cta-headers row">
				<div class="col-lg-1">
				</div>	
				<div class="col-lg-2">
					<p>Brand</p>
				</div>
				<div class="col-lg-5">
					<p>CTA Message</p>
				</div>	
				<div class="col-lg-1">
					<p>Clips</p>
				</div>	
				<div class="col-lg-1">
					<p>Clicks</p>
				</div>	
				<div class="col-lg-2">
				</div>	
			</div>
			<!-- Listing of all call to actions created -->
			<% @count = 0 %>
			<% @cta_list.each do |x| %> 
				<div class="dashboard-cta-list row">
					<div class="col-lg-1" id="dashboard-cta-list-num">
						<p><%= @count += 1 %></p>
					</div>	
					<div class="col-lg-2">
						<p><%= x.brand.name %></p>
					</div>
					<div class="col-lg-5">
						<p><%= x.description %></p>
					</div>	
					<div class="col-lg-1">
						<p><%= x.clips.count %></p>
					</div>	
					<div class="col-lg-1">
						<p><%= x.count %></p>
					</div>	
					<div class="col-lg-2" id="dashboard-cta-list-buttons">
						<%= button_to "Archive!", archive_cta_path(user_id: current_user.id, id:x.id), method: :post, data:{confirm:"Are you sure? This will archive all corresponding Clips"}, class:"btn btn-warning" %>
					</div>	
				</div>
			<% end %>
		</section>

		<!-- end of CTA list -->


		<!-- Listing of all the Clips owned by this user  -->
		<section class="clip-section">
			
			<!-- title and create button -->
			<div class="dashboard-clip-title">
				<div  class="col-lg-3" id="dashboard-clip-title-text" style="width:80%">
					<h3>Active Clips</h3>
				</div>
				
				<div class="col-lg-9" id="dashboard-clip-title-form">
					<%= form_with url:user_clips_path(current_user) do |form| %>
					  <% if @clip.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

					      <ul>
					      <% @clip.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					      <% end %>
					      </ul>
					    </div>
					  <% end %>
						
					<%= form.hidden_field :user_id, value: current_user.id %>
				    
				    <%= form.label :select_cta %>
				    <%= form.select :call_to_action_id, @cta_list.collect {|cta| [cta.description, cta.id] }, {}, id:"dashboard-clip-form-select"%> 
					
					<%= form.label :page_link %> 
				    <%= form.url_field :page_link, class:"form-control", id:"dashboard-clip-form-link" %>

					<div class="actions">
						<%= form.submit "Create Clip", class:"btn btn-primary" %>
					</div>
					<% end %>
				</div>
			</div>

			<!-- headings of the Clip list  -->

			<div class="dashboard-cta-headers row">
				<div class="col-lg-1">
				</div>	
				<div class="col-lg-3">
					<p>Short Link</p>
				</div>	
				<div class="col-lg-1">
					<p>Visist</p>
				</div>	
				<div class="col-lg-1">
					<p>Clicks</p>
				</div>	
				<div class="col-lg-1">
					<p>Conversion</p>
				</div>	
				<div class="col-lg-5">
				</div>	
			</div>
			<!-- Listing of all Clips created -->
			<% @count = 0 %>
			<% if @clip_list.present? %>
				<% @clip_list.each do |x| %>
				<div class="dashboard-clip-list row">
					<div class="col-lg-1" id="dashboard-clip-list-num">
						<p><%= @count += 1 %></p>
					</div>		
					<div class="col-lg-3 dashboard-link-source">
						<textarea readonly rows="1" id="link-source" class="align-middle"><%= "http://localhost:3000/" + x.short_link %>
						</textarea> 
					</div>	
					<div class="col-lg-1">
						<p><%= x.count %></p>
					</div>	
					<div class="col-lg-1">
						<p>Clicks</p>
					</div>	
					<div class="col-lg-1">
						<p>
						<% if x.call_to_action != 0 && x.count != 0%>
							<%= ((x.call_to_action.count.to_f / x.count.to_f)*100).round(2).to_s + "%" %>
						<% else %>
							<%= "N/A" %>
						<% end %> 
						</p>
					</div>	
					<div class="col-lg-5" id="dashboard-clip-list-buttons">
						<a href="" onclick="javascript:window.open('http://www.facebook.com/sharer/sharer.php?u=<%='https://localhost:3000/' + x.short_link %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fab fa-facebook" aria-hidden="true"></i></a>
						
						<a href="" onclick="javascript:window.open('https://twitter.com/intent/tweet?url=<%= 'https://localhost:3000/' + x.short_link %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fab fa-twitter" aria-hidden="true"></i></a>
						
						<a href="" onclick="javascript:window.open('https://www.linkedin.com/shareArticle?mini=true&url=<%= 'https://localhost:3000/' + x.short_link %>&source=clipit.io', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
						
						<a href="https://plus.google.com/share?url=https://locahost:3000/<%= x.short_link%>" onclick="javascript:window.open(this.href,railrails '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fab fa-google-plus-square" aria-hidden="true"></i></a>
						
						<a href="" id="copy-to-clip" onclick="copyLink()"><i class="fas fa-copy"></i></a>
						<%= link_to "View Page",user_clip_path(user_id: current_user.id, id: x.id),target:"_blank" %>
						<%= link_to "Archive!", archive_clip_path(user_id: current_user.id, id: x.id), method: :post %>
					</div>	
				</div>
			<% end %>
			<% end %>
		</section>

		<!-- end of Clip list -->



	</div>
</section>