<h1>This is User Dashboard</h1>
<% if current_user %>
	<div>
		<%= link_to "change password", new_user_password_path %>
		<%= link_to "create brand", new_user_brand_path(current_user) %>
	</div>
<% end %>

<div>
	<% if !@brand_list.nil? %>
		<% @brand_list.each do |brand| %>
			<%= brand.name %> 
			<%= link_to "edit brand", edit_user_brand_path(brand.user_id, brand.id) %>
		<% end %>
	<% end %>
</div>


<div>
	<%= link_to "create CTA", new_user_call_to_action_path(current_user) %>
</div>