<nav class="nav-main">
	<div class="navbar-logo">
		<%= link_to image_tag('clipit-logo.png', id:'navbar-logo-img'),'/'%>
		<h1>&nbsp Clip It</h1>
	</div>

	<ul class="navbar-items">
		<li><%= link_to 'Price', '#' %> </li>
		<li><%= link_to 'Features', '#' %> </li>
		<li><%= link_to 'Contacts', '#' %> </li>
		<% if user_signed_in? %> 
			<li>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			</li>
			<li>
				<%= link_to image_tag(current_user.brands.last.logo.thumb), user_path(current_user) %>
					
				</li>
		<% else %> 
			<li>
				<%= link_to "Sign up", new_user_registration_path, method: :get %>
			</li> 
			<li>
				<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
			</li>
			<li>
				<%= link_to "Sign in with Email", new_user_session_path %>
			</li>
		<% end %>
	</ul>
	
</nav>