<nav class="nav-main">
	<div class="navbar-logo">
		<%= link_to image_tag('clipit-logo.png', id:'navbar-logo-img'),'/'%>
		<h1>Clip It</h1>
	</div>

	<ul class="navbar-items">
		<li><%= link_to 'Price', '#' %> </li>
		<li><%= link_to 'Features', '#' %> </li>
		<li><%= link_to 'Contacts', '#' %> </li>
		<% if user_signed_in? %> 
			<li>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			</li>
			<li id="nav-avatar">
				<% if current_user.brands.present? %>
					<% if current_user.brands.first.logo.file.nil? %> 
					<%= link_to image_tag("user-logo.png", width:"50", height:"50"), user_path(current_user)%>
					<% else %>
					<%= link_to image_tag(current_user.brands.first.logo.thumb), user_path(current_user) %>
					<% end %>
				<% else %> 
					<%= link_to image_tag("user-logo.png", width:"50", height:"50"), user_path(current_user)%>
				<% end %>
				</li>
		<% else %> 
			<li>
				<%= link_to "Sign up", new_user_registration_path, method: :get %>
			</li> 
			<li>
				<%= link_to "Sign In", new_user_session_path %>
			</li>
		<% end %>
	</ul>
	
</nav>